# LVGL 字体：App 层 UI 示例需要
CONFIG_LV_FONT_MONTSERRAT_14=y
CONFIG_LV_FONT_MONTSERRAT_16=y
CONFIG_LV_FONT_MONTSERRAT_24=y
CONFIG_LV_FONT_SOURCE_HAN_SANS_SC_16_CJK=y

# --- CPU / Flash ---
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y

# --- PSRAM: 8MB Octal（LVGL 显存使用）---
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_USE_MALLOC=y
CONFIG_SPIRAM_BOOT_INIT=y
CONFIG_SPIRAM_MEMTEST=y

# --- FreeRTOS：允许任务栈放外部内存 ---
CONFIG_FREERTOS_TASK_CREATE_ALLOW_EXT_MEM=y

# --- LVGL 适配器：FPS 统计 ---
CONFIG_ESP_LVGL_ADAPTER_ENABLE_FPS_STATS=y

# --- LVGL ---
CONFIG_LV_MEM_SIZE_KILOBYTES=64
CONFIG_LV_DEF_REFR_PERIOD=5
